.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.login-bg {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-image: url('../img/login-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 400px 250px;
}

.rounded-div {
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    /* 50% radius makes it a circle */
}

.login-logo {
    margin-top: 160px;
}

.rounded {
    border-radius: 15px !important;
    padding: 10px !important;
}

.rounded-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px !important;
}

.rounded-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px !important;
}

.gradient-button {
    background-image: linear-gradient(to bottom, #FFC802, #BB9406);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

/* Hover effect */
.gradient-button:hover {
    opacity: 0.8;
}

.gradient-button-secondary {
    background-image: linear-gradient(to bottom, #333333, #464646);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

/* Hover effect */
.gradient-button-secondary:hover {
    opacity: 0.8;
}

.full {
    width: 100%;
}

.no-underline {
    text-decoration: none;
}

.text-grey {
    color: #555 !important;
}

.text-black {
    color: #000 !important;
}

.icon-grey {
    color: #ccc !important;
}

.suffix {
    z-index: 99;
    position: absolute;
    margin-right: 15px;
    margin-top: 10px;
    right: 0;
    color: #555;
}

.no-border {
    border: 0 !important
}

.no-border-radius {
    border-radius: 0 !important
}

.border-radius-5 {
    border-radius: 5px !important
}

.div-input {
    padding: 2px;
    border: 1px solid #E5E5E5;
    border-radius: 12px;
}

.div-input input:focus,
.div-input input:hover,
.div-input input:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.div-input:hover,
.div-input:focus,
.div-input:active {
    padding: 2px;
    border: 1px solid #bca723;
    border-radius: 12px;
}

.banner img {
    width: 100%;
    height: auto;
}

.icon-bg {
    border-radius: 14px;
    background: #FFC802;
    width: 43px;
    height: 43px;
    flex-shrink: 0;
}

.history,
.list {
    width: 100%;
}

.history a,
.list a {
    text-decoration: none;
}


.history h6,
.list h6 {
    margin: 0 !important;
    color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.history p,
.list p {
    margin: 0;
    color: #848484;
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.title {
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text-yellow {
    color: #FFC802;
}

.more {
    color: #FFC802;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.border-right-dashed {
    border-right: 1px dashed #C6C6C6;
}

.mr-auto {
    margin-right: auto !important
}

.ml-auto {
    margin-left: auto !important
}


.container .sidebar {
    left: -100vw;
    top: 0;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s;
    transition: 1s;
    opacity: 0.9;
}

.container .sidebar.active {
    top: 0;
    left: auto;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s;
    transition: 1s;
}

.container .icon-scan {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.round-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #FFC802;
    border-radius: 50%;
}

/* Adjust the icon color if needed */
.round-icon i {
    font-size: 20px;
    color: white;
    /* Change the color here */
}

#camera {
    position: fixed;
    top: 0;
    left: auto;
    width: 100vw;
    height: 100%;
}

.reader,
#reader {
    height: 100%;
    width: 100% !important;
    max-width: 400px !important;
}

.hidden {
    display: none;
}

.header-nav .title {
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-tabs li {
    width: 50%;
    text-align: center;
}

.nav-tabs li a {
    color: #555;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.nav-tabs li a.active {
    color: #000 !important;
    opacity: 1;
    font-weight: bold;
    border-bottom: 3px solid #FFC802 !important;
}

.title {
    color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner-bg {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    background-image: url('../img/banner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-bg .sub {
    color: #333;
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-bg span {
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.merchant-title {
    margin-top: 5px !important;
}

.no-content {
    width: 100%;
}

.no-content .title {
    color: #A1A1A1;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.no-content .sub {
    color: #C7C7C7;
    text-align: center;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#html5-qrcode-button-camera-start {
    background-image: linear-gradient(to bottom, #FFC802, #BB9406);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 15px;
}

#html5-qrcode-button-camera-stop {
    background-image: linear-gradient(to bottom, #a13232, #6f1414);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 15px;
}

#html5-qrcode-select-camera {
    padding: 10px !important;
    margin: 20px 2px;
}

.claim-button {
    background-image: linear-gradient(to bottom, #FFC802, #BB9406);
    border: none;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.bg-yellow {
    background-color: #FFC802 !important;
    background-image: linear-gradient(to bottom, #FFC802, #FFC802);
}

.invoice-header-bg {
    height: 170px;
    max-width: 400px;
    margin: 0 auto;
    background-image: url('../img/invoice-header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.invoice-bg {
    position: relative;
    margin-top: -120px !important;
    height: 400px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    background-image: url('../img/Subtract.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.font-14 {
    font-size: 14px;
}